<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Breeta</title>

        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/input.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="toggleButton" id="sidebarToggle"><img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,w_200,g_face/<%=sessionUser.pfp.url.slice(47)%>" class="rounded-circle" alt="..." style="height: 50px; width: 50px"></button>
            </div>
        </nav>
        <div class="d-flex" id="wrapper">
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light"><%=sessionUser.dName%></div>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/breeta">Dashboard</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Notifications</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Bookmarks</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/users/<%=sessionUser.username%>">Profile</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/users/<%=sessionUser.username%>/edit">Edit Profile</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Explore</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/breeta/breet">Breet!</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/users/logout">Log Out</a>
                </div>
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid" id="main-feed">
                    <%- include("../partials/flash.ejs")%>
                    <% for(let breet of breets){ %>
                      <div class="card my-3" style="max-width: 600px;">
                        <div class="row">
                          <div class="col-3 col-sm-2 ms-2 mt-4">
                            <img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,w_200,g_face/<%=breet.pfp.slice(47)%>" class="img-fluid img-thumbnail rounded-circle" alt="...">
                          </div>
                          <div class="col">
                            <div class="card-body pb-0 <%if(breet.rebreeter || breet.parent){%>pt-0<%}%>">
                              <% if(breet.rebreeter) {%>
                                <h6 class="text-muted fw-light align-top"> <i class="bi bi-arrow-repeat"></i> Rebreeted By <a href="/users/<%=breet.username%>" class="link-unstyled">@<%=breet.username%></a></h6>
                                <% } else if(breet.parent) {%>
                                  <h6 class="text-muted fw-light align-top"> <i class="bi bi-chat"></i> In reply to <a href="/breeta/<%=breet.parent._id%>" class="link-unstyled">@<%=breet.parent.username%></a></h6>
                                  <% } %>
                              <div class="card-title h5 mb-4"><%=breet.dName%> <a href="/users/<%=breet.username%>" class="link-unstyled">
                                <span class="h6 text-muted">@<%=breet.username%></span></a><form action="/users/<%=breet.username%>" method="post" style=" display:inline!important;"><button id="followButton"><i class="bi bi-person-<%if(sessionUser.following.includes(breet.username)){%>fill-slash<%}else if(sessionUser.username !== breet.username){%>heart<%}%> h6"></i></button></form>
                              </div>
                              <a href="/breeta/<%=breet._id%>"class="link-unstyled"><p class="card-text border rounded-3 py-4 px-3"><%=breet.content%></p></a>
                              <% if(breet.image) {%>
                              <div><img src="<%=breet.image.url %>" class="ml-0" alt="<%=breet.image.filename%>" style="max-height: 200px; object-fit:contain;"></div>
                              <%} %>
                              <p class="card-text mb-0 mt-4">
                                  <a href="/breeta/<%=breet._id%>/like" class="link-unstyled"><button class="btn ps-0 pb-2"><i class="bi bi-heart"></i></button><%=breet.likes%></a>
                                  <a href="/breeta/<%=breet._id%>/reply" class="link-unstyled"><button class="btn pb-2"><i class="bi bi-chat"></i></button><%=breet.replies%></a>
                                  <a href="/breeta/<%=breet._id%>/rebreet" class="link-unstyled"><button class="btn pb-2"><i class="bi bi-arrow-repeat"></i></button><%=breet.rebreets%></a>
                                <p class="mb-0"><small class="text-muted align-text-top"> Posted <%=functions.timeCall(breet.time)%></small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } %>


                      <% for(let breet of breets){ %>
                        <a href="/breeta/<%=breet._id %>" class="link-unstyled">
                          <div class="card w-90 mt-3" style="max-width:970px">
                            <% if(breet.rebreeter) {%>
                              <a href="/users/<%=breet.username%>" class="link-unstyled"><h6 class="text-muted"> Rebreeted by: @<%=breet.rebreeter%></h6></a>
                              <% } %>
                            <div class="card-body">
                              <div class="row">
                                <div class="col-3" style="justify-content: left; min-width: 80px; max-width: 75px;">
                                  <img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,w_200,g_face/<%=breet.pfp.slice(47)%>" class="rounded-circle" alt="..." style="height: 75px; width: 75px">
                                </div>
                                  <div class="col"><h5 class="card-title" style="display:inline-block"><%=breet.dName%></h5>
                                  <a href="/users/<%=breet.username%>"><h6 class="card-subtitle mb-2 text-muted" style="display:inline-block">@<%=breet.username%></h6></a>
                                </div>
                            </div>
                            <% if(breet.parent){%>
                              <p class="text-muted">in reply to @<%=breet.parent.username%></p>
                              <% } %>
                              <p class="card-text mt-3 mb-3"><%=breet.content %></p>
                              <% if(breet.image){ %>
                                <img src="<%=breet.image.url %>" class="card-img-bottom w-50" alt="...">
                                <% } %>
                      
                                <a href="/breeta/<%=breet._id%>/like" class="link-unstyled"><button class="btn"><i class="bi bi-heart"></i></button><%=breet.likes%></a>
                                <a href="/breeta/<%=breet._id%>/reply" class="link-unstyled"><button class="btn"><i class="bi bi-chat"></i></button><%=breet.replies%></a>
                                <a href="/breeta/<%=breet._id%>/rebreet" class="link-unstyled"><button class="btn"><i class="bi bi-arrow-repeat"></i></button><%=breet.rebreets%></a>
                      
                                <form action="/users/<%=breet.username%>" method="post">
                                <% if(sessionUser.following.includes(breet.username)){ %>
                                <button id="followButton">unfollow <%=breet.dName%><i class="bi bi-person-fill-slash"></i></button></form>
                                <% } else if (sessionUser.username !== breet.username){%>
                                  <button class="btn btn-info">follow <%=breet.dName%><i class="bi bi-person-heart"></i></button>
                                  <% } %>
                                </form>
                            </div>
                          </div>
                        </a>
                        <small>
                          <%=functions.timeCall(breet.time)%>
                      
                      </small>
                          <% } %>


<div id="card-container" class="mt-3">
    
</div>
<div id="loader">
  <div class="skeleton-card"></div>
</div>
<div></div>

</div>
</div>
</div>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Breeta 2023- All content is for educational purposes only</span>
  </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/infinitescroll.js"></script>
</body>
</html>