</div><%-include("../partials/header")%>

<div class="row my-6 py-3">
<div class="col-11">

<h3 class="text-center mb-3 mt-4 fw-bolder">Notifications</h3>
</div>
</div>
<% for(let notification of activeNotifications) {%>

  <% if(notification.followor) {%>
    <div class="mb-5">
    <h4 class="text-muted fw-bold ms-4 fst-italic align-text-bottom"><img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_30/<%=notification.followor.pfp.url.slice(47)%>" class="img-fluid rounded-circle" alt="..."> <small>Followed by <a href="/users/<%=notification.followor.username%>" class="link-unstyled">@<%=notification.followor.username%>! <i class="bi bi-person-heart"></i></small></a></h4>
      <div class="card my-3 ms-md-3 ms-1 pe-0 shadow-sm" style="max-width: 700px;">
        <div class="row">
          <div class="col-2 mt-4 px-0 ms-3">
            <img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_200/<%=notification.followor.pfp.url.slice(47)%>" class="img-fluid img-thumbnail rounded-circle" alt="...">
          </div>
          <div class="col px-0 me-md-2">
            <div class="card-body pb-0)">
              <div class="card-title h5 mb-3 fw-bold"><%=notification.followor.dName%> <a href="/users/<%=notification.followor.username%>" class="link-unstyled">
                <span class="h6 text-muted ms-1">@<%=notification.followor.username%></span></a>
              </div>
              <div class="card-title fst-italic">Bio:</div>
                <p class="card-text border mb-0 py-2 px-3 shadow-sm rounded"><small><%=notification.followor.bio%></small></p>
                <p class="my-1 mb-md-3 ms-1"><small class="text-muted align-text-top"><i class="bi bi-calendar-event"></i> Created <%=functions.timeCall(notification.followor.creationDate)%></small></p>
               <div class="mb-3">
                <span class="md-h5 border border-2 rounded-pill py-md-2 px-md-3 shadow-sm px-2"><i class="bi bi-person-hearts"></i> <span class="d-none d-md-inline">Followers:</span> <%=notification.followor.followers.length%></span>
                <span class="md-h5 border border-2 rounded-pill py-md-2 px-md-3 shadow-sm px-2"><i class="bi bi-person-heart"></i> <span class="d-none d-md-inline">Following:</span> <%=notification.followor.length%></span>
                <span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2"><i class="bi bi-heart"></i> <span class="d-none d-md-inline">Likes:</span> <%=notification.followor.likes%></span>
                <span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2"><i class="bi bi-arrow-repeat"></i> <span class="d-none d-md-inline">Rebreets:</span> <%=notification.followor.breets%></span>
            </div>
            </div>
          </div>
        </div>
      </div>

<% }else if(notification.likor) {%>
  <div class="mb-5">
  <h4 class="text-muted fw-bold ms-4 fst-italic align-text-bottom"><img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_30/<%=notification.likor.pfp.url.slice(47)%>" class="img-fluid rounded-circle" alt="..."> <small> Liked By <a href="/users/<%=notification.likor.username%>" class="link-unstyled">@<%=notification.likor.username%> <i class="bi bi-heart"></i></small></a></h4>    
    <div class="card my-3 ms-md-3 ms-1 pe-0 shadow-sm" style="max-width: 700px;">
    <div class="row">
      <div class="col-2 mt-4 px-0 ms-3">
        <img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_200/<%=notification.breet.pfp.slice(47)%>" class="img-fluid img-thumbnail rounded-circle" alt="...">
      </div>
      <div class="col px-0 me-md-2">
        <div class="card-body pb-0 <%if(notification.breet.rebreeter || notification.breet.parent){%>pt-0<%}%>">
          <% if(notification.breet.rebreeter) {%>
          <h6 class="text-muted fw-light mb-0 my-md-1"> <small><i class="bi bi-arrow-repeat"></i> Rebreeted By <a href="/users/<%=notification.breet.username%>" class="link-unstyled">@<%=notification.breet.username%></small></a></h6>
          <% } else if(notification.breet.parent) {%>
            <h6 class="text-muted fw-light mb-0 my-md-1"> <small><i class="bi bi-chat"></i> In reply to <a href="/breeta/<%=notification.breet.parent._id%>" class="link-unstyled">@<%=sessionUser.username%></small></a></h6>
            <% } %>
          <div class="card-title h5 mb-3 fw-bold"><%=notification.breet.dName%> <a href="/users/<%=notification.breet.username%>" class="link-unstyled">
            <span class="h6 text-muted ms-1">@<%=notification.breet.username%></span></a>
          </div>
          <a href="/breeta/<%=notification.breet._id%>"class="link-unstyled"><p class="card-text h6 border shadow-sm rounded-3 py-4 px-3 mb-md-3"><small><%=notification.breet.content%></small></p></a>
          <p class="card-text my-2">
              <a href="/breeta/<%=notification.breet._id%>/like" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1"><i class="bi bi-heart"></i> <%=notification.breet.likes%> </span></a>
              <a href="/breeta/<%=notification.breet._id%>/reply" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1 mx-1"><i class="bi bi-chat"></i> <%=notification.breet.replies%> </span></a>
              <a href="/breeta/<%=notification.breet._id%>/rebreet" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1"><i class="bi bi-arrow-repeat"></i> <%=notification.breet.rebreets%> </span></a>
            <p class="mb-0 mb-md-1 ms-1"><small class="text-muted align-text-top"><i class="bi bi-calendar-event"></i> Posted <%=functions.timeCall(notification.breet.time)%></small></p>
        </div>
      </div>
    </div>
  </div>
</div>

  <% }else if(notification.replior) {%>
    <div class="mb-5">
    <h4 class="text-muted fw-bold ms-4 fst-italic align-text-bottom"><img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_30/<%=notification.replior.pfp.url.slice(47)%>" class="img-fluid rounded-circle" alt="..."> <a href="/users/<%=notification.replior.username%>" class="link-unstyled"> <small>@<%=notification.replior.username%> replied to your Breet! <i class="bi bi-chat"></i></small></a></h4>
      <div class="card my-3 ms-md-3 ms-1 pe-0 shadow-sm" style="max-width: 700px;">
        <div class="row">
          <div class="col-2 mt-4 px-0 ms-3">
            <img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_200/<%=notification.breet.pfp.slice(47)%>" class="img-fluid img-thumbnail rounded-circle" alt="...">
          </div>
          <div class="col px-0 me-md-2">
            <div class="card-body pb-0 <%if(notification.breet.rebreeter || notification.breet.parent){%>pt-0<%}%>">
              <% if(notification.breet.rebreeter) {%>
              <h6 class="text-muted fw-light mb-0 my-md-1"> <small><i class="bi bi-arrow-repeat"></i> Rebreeted By <a href="/users/<%=notification.breet.username%>" class="link-unstyled">@<%=notification.breet.username%></small></a></h6>
              <% } else if(notification.breet.parent) {%>
                <h6 class="text-muted fw-light mb-0 my-md-1"> <small><i class="bi bi-chat"></i> In reply to <a href="/breeta/<%=notification.breet.parent._id%>" class="link-unstyled">@<%=sessionUser.username%></small></a></h6>
                <% } %>
              <div class="card-title h5 mb-3 fw-bold"><%=notification.breet.dName%> <a href="/users/<%=notification.breet.username%>" class="link-unstyled">
                <span class="h6 text-muted ms-1">@<%=notification.breet.username%></span></a>
              </div>
              <a href="/breeta/<%=notification.breet._id%>"class="link-unstyled"><p class="card-text h6 border shadow-sm rounded-3 py-4 px-3 mb-md-3"><small><%=notification.breet.content%></small></p></a>
              <p class="card-text my-2">
                  <a href="/breeta/<%=notification.breet._id%>/like" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1"><i class="bi bi-heart"></i> <%=notification.breet.likes%> </span></a>
                  <a href="/breeta/<%=notification.breet._id%>/reply" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1 mx-1"><i class="bi bi-chat"></i> <%=notification.breet.replies%> </span></a>
                  <a href="/breeta/<%=notification.breet._id%>/rebreet" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1"><i class="bi bi-arrow-repeat"></i> <%=notification.breet.rebreets%> </span></a>
                <p class="mb-0 mb-md-1 ms-1"><small class="text-muted align-text-top"><i class="bi bi-calendar-event"></i> Posted <%=functions.timeCall(notification.breet.time)%></small></p>
            </div>
          </div>
        </div>
      </div>
      </div>

    <% }else if(notification.rebreetor) {%>
      <div class="mb-5">
      <h4 class="text-muted fw-bold ms-4 fst-italic align-text-bottom"><img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_30/<%=notification.rebreetor.pfp.url.slice(47)%>" class="img-fluid rounded-circle" alt="..."> <a href="/users/<%=notification.rebreetor.username%>" class="link-unstyled"> <small>@<%=notification.rebreetor.username%> rebreeted your Breet! <i class="bi bi-arrow-repeat"></i></small></a></h4>        
        <div class="card my-3 ms-md-3 ms-1 pe-0 shadow-sm" style="max-width: 700px;">
          <div class="row">
            <div class="col-2 mt-4 px-0 ms-3">
              <img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_200/<%=notification.breet.pfp.slice(47)%>" class="img-fluid img-thumbnail rounded-circle" alt="...">
            </div>
            <div class="col px-0 me-md-2">
              <div class="card-body pb-0 <%if(notification.breet.rebreeter || notification.breet.parent){%>pt-0<%}%>">
                <% if(notification.breet.rebreeter) {%>
                <h6 class="text-muted fw-light mb-0 my-md-1"> <small><i class="bi bi-arrow-repeat"></i> Rebreeted By <a href="/users/<%=notification.breet.username%>" class="link-unstyled">@<%=notification.breet.username%></small></a></h6>
                <% } else if(notification.breet.parent) {%>
                  <h6 class="text-muted fw-light mb-0 my-md-1"> <small><i class="bi bi-chat"></i> In reply to <a href="/breeta/<%=notification.breet.parent._id%>" class="link-unstyled">@<%=sessionUser.username%></small></a></h6>
                  <% } %>
                <div class="card-title h5 mb-3 fw-bold"><%=notification.breet.dName%> <a href="/users/<%=notification.breet.username%>" class="link-unstyled">
                  <span class="h6 text-muted ms-1">@<%=notification.breet.username%></span></a>
                </div>
                <a href="/breeta/<%=notification.breet._id%>"class="link-unstyled"><p class="card-text h6 border shadow-sm rounded-3 py-4 px-3 mb-md-3"><small><%=notification.breet.content%></small></p></a>
                <p class="card-text my-2">
                    <a href="/breeta/<%=notification.breet._id%>/like" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1"><i class="bi bi-heart"></i> <%=notification.breet.likes%> </span></a>
                    <a href="/breeta/<%=notification.breet._id%>/reply" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1 mx-1"><i class="bi bi-chat"></i> <%=notification.breet.replies%> </span></a>
                    <a href="/breeta/<%=notification.breet._id%>/rebreet" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1"><i class="bi bi-arrow-repeat"></i> <%=notification.breet.rebreets%> </span></a>
                  <p class="mb-0 mb-md-1 ms-1"><small class="text-muted align-text-top"><i class="bi bi-calendar-event"></i> Posted <%=functions.timeCall(notification.breet.time)%></small></p>
              </div>
            </div>
          </div>
        </div>
        </div>
  <% } %>
  <% } %>

  <% for(let notification of inactiveNotifications) {%>

    <% if(notification.followor) {%>
      <div class="mb-5">
        <h4 class="text-muted fw-bold ms-4 fst-italic align-text-bottom"><img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_30/<%=notification.followor.pfp.url.slice(47)%>" class="img-fluid rounded-circle" alt="..."> <small>Followed by <a href="/users/<%=notification.followor.username%>" class="link-unstyled">@<%=notification.followor.username%>! <i class="bi bi-person-heart"></i></small></a></h4>
        <div class="card my-3 ms-md-3 ms-1 pe-0 shadow-sm" style="max-width: 700px; background-color: rgba(0,0,0,0.03);">
          <div class="row">
            <div class="col-2 mt-4 px-0 ms-3">
              <img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_200/<%=notification.followor.pfp.url.slice(47)%>" class="img-fluid img-thumbnail rounded-circle" alt="...">
            </div>
            <div class="col px-0 me-md-2">
              <div class="card-body pb-0)">
                <div class="card-title h5 mb-3 fw-bold"><%=notification.followor.dName%> <a href="/users/<%=notification.followor.username%>" class="link-unstyled">
                  <span class="h6 text-muted ms-1">@<%=notification.followor.username%></span></a>
                </div>
                <div class="card-title fst-italic">Bio:</div>
                  <p class="card-text border mb-0 py-2 px-3 shadow-sm rounded"><small><%=notification.followor.bio%></small></p>
                  <p class="my-1 mb-md-3 ms-1"><small class="text-muted align-text-top"><i class="bi bi-calendar-event"></i> Created <%=functions.timeCall(notification.followor.creationDate)%></small></p>
                 <div class="mb-3">
                  <span class="md-h5 border border-2 rounded-pill py-md-2 px-md-3 shadow-sm px-2"><i class="bi bi-person-hearts"></i> <span class="d-none d-md-inline">Followers:</span> <%=notification.followor.followers.length%></span>
                  <span class="md-h5 border border-2 rounded-pill py-md-2 px-md-3 shadow-sm px-2"><i class="bi bi-person-heart"></i> <span class="d-none d-md-inline">Following:</span> <%=notification.followor.length%></span>
                  <span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2"><i class="bi bi-heart"></i> <span class="d-none d-md-inline">Likes:</span> <%=notification.followor.likes%></span>
                  <span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2"><i class="bi bi-arrow-repeat"></i> <span class="d-none d-md-inline">Rebreets:</span> <%=notification.followor.breets%></span>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <% }else if(notification.likor) {%>
 <div class="mb-5">
    <h4 class="text-muted fw-bold ms-4 fst-italic align-text-bottom"><img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_30/<%=notification.likor.pfp.url.slice(47)%>" class="img-fluid rounded-circle" alt="..."> <small> Liked By 
      <a href="/users/<%=notification.likor.username%>" class="link-unstyled">@<%=notification.likor.username%> <i class="bi bi-heart"></i></small></a></h6>
      <div class="card ms-md-3 ms-1 pe-0 shadow-sm" style="max-width: 700px; background-color: rgba(0,0,0,0.03);">
      <div class="row">
        <div class="col-2 mt-4 px-0 ms-3">
          <img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_200/<%=notification.breet.pfp.slice(47)%>" class="img-fluid img-thumbnail rounded-circle" alt="...">
        </div>
        <div class="col px-0 me-md-2">
          <div class="card-body pb-0 <%if(notification.breet.rebreeter || notification.breet.parent){%>pt-0<%}%>">
            <% if(notification.breet.rebreeter) {%>
            <h6 class="text-muted fw-light mb-0 my-md-1"> <small><i class="bi bi-arrow-repeat"></i> Rebreeted By <a href="/users/<%=notification.breet.username%>" class="link-unstyled">@<%=notification.breet.username%></small></a></h6>
            <% } else if(notification.breet.parent) {%>
              <h6 class="text-muted fw-light mb-0 my-md-1"> <small><i class="bi bi-chat"></i> In reply to <a href="/breeta/<%=notification.breet.parent._id%>" class="link-unstyled">@<%=sessionUser.username%></small></a></h6>
              <% } %>
            <div class="card-title h5 mb-3 fw-bold"><%=notification.breet.dName%> <a href="/users/<%=notification.breet.username%>" class="link-unstyled">
              <span class="h6 text-muted ms-1">@<%=notification.breet.username%></span></a>
            </div>
            <a href="/breeta/<%=notification.breet._id%>"class="link-unstyled"><p class="card-text h6 border shadow-sm rounded-3 py-4 px-3 mb-md-3"><small><%=notification.breet.content%></small></p></a>
            <p class="card-text my-2">
                <a href="/breeta/<%=notification.breet._id%>/like" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1"><i class="bi bi-heart"></i> <%=notification.breet.likes%> </span></a>
                <a href="/breeta/<%=notification.breet._id%>/reply" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1 mx-1"><i class="bi bi-chat"></i> <%=notification.breet.replies%> </span></a>
                <a href="/breeta/<%=notification.breet._id%>/rebreet" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1"><i class="bi bi-arrow-repeat"></i> <%=notification.breet.rebreets%> </span></a>
              <p class="mb-0 mb-md-1 ms-1"><small class="text-muted align-text-top"><i class="bi bi-calendar-event"></i> Posted <%=functions.timeCall(notification.breet.time)%></small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <% }else if(notification.replior) {%>
      <div class="mb-5">
        <h4 class="text-muted fw-bold ms-4 fst-italic align-text-bottom"><img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_30/<%=notification.replior.pfp.url.slice(47)%>" class="img-fluid rounded-circle" alt="..."> <a href="/users/<%=notification.replior.username%>" class="link-unstyled"> <small>@<%=notification.replior.username%> replied to your Breet! <i class="bi bi-chat"></i></small></a></h4>
        <div class="card my-3 ms-md-3 ms-1 pe-0 shadow-sm" style="max-width: 700px; background-color: rgba(0,0,0,0.03);">
          <div class="row">
            <div class="col-2 mt-4 px-0 ms-3">
              <img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_200/<%=notification.breet.pfp.slice(47)%>" class="img-fluid img-thumbnail rounded-circle" alt="...">
            </div>
            <div class="col px-0 me-md-2">
              <div class="card-body pb-0 <%if(notification.breet.rebreeter || notification.breet.parent){%>pt-0<%}%>">
                <% if(notification.breet.rebreeter) {%>
                <h6 class="text-muted fw-light mb-0 my-md-1"> <small><i class="bi bi-arrow-repeat"></i> Rebreeted By <a href="/users/<%=notification.breet.username%>" class="link-unstyled">@<%=notification.breet.username%></small></a></h6>
                <% } else if(notification.breet.parent) {%>
                  <h6 class="text-muted fw-light mb-0 my-md-1"> <small><i class="bi bi-chat"></i> In reply to <a href="/breeta/<%=notification.breet.parent._id%>" class="link-unstyled">@<%=sessionUser.username%></small></a></h6>
                  <% } %>
                <div class="card-title h5 mb-3 fw-bold"><%=notification.breet.dName%> <a href="/users/<%=notification.breet.username%>" class="link-unstyled">
                  <span class="h6 text-muted ms-1">@<%=notification.breet.username%></span></a>
                </div>
                <a href="/breeta/<%=notification.breet._id%>"class="link-unstyled"><p class="card-text h6 border shadow-sm rounded-3 py-4 px-3 mb-md-3"><small><%=notification.breet.content%></small></p></a>
                <p class="card-text my-2">
                    <a href="/breeta/<%=notification.breet._id%>/like" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1"><i class="bi bi-heart"></i> <%=notification.breet.likes%> </span></a>
                    <a href="/breeta/<%=notification.breet._id%>/reply" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1 mx-1"><i class="bi bi-chat"></i> <%=notification.breet.replies%> </span></a>
                    <a href="/breeta/<%=notification.breet._id%>/rebreet" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1"><i class="bi bi-arrow-repeat"></i> <%=notification.breet.rebreets%> </span></a>
                  <p class="mb-0 mb-md-1 ms-1"><small class="text-muted align-text-top"><i class="bi bi-calendar-event"></i> Posted <%=functions.timeCall(notification.breet.time)%></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
   
      <% }else if(notification.rebreetor) {%>
        <div class="mb-5">
        <h4 class="text-muted fw-bold ms-4 fst-italic align-text-bottom"><img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_30/<%=notification.rebreetor.pfp.url.slice(47)%>" class="img-fluid rounded-circle" alt="..."> <a href="/users/<%=notification.rebreetor.username%>" class="link-unstyled"> <small>@<%=notification.rebreetor.username%> rebreeted your Breet! <i class="bi bi-arrow-repeat"></i></small></a></h4>
          <div class="card my-3 ms-md-3 ms-1 pe-0 shadow-sm" style="max-width: 700px; background-color: rgba(0,0,0,0.03);">
            <div class="row">
              <div class="col-2 mt-4 px-0 ms-3">
                <img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,g_face,h_400,w_400/r_max/c_scale,w_200/<%=notification.breet.pfp.slice(47)%>" class="img-fluid img-thumbnail rounded-circle" alt="...">
              </div>
              <div class="col px-0 me-md-2">
                <div class="card-body pb-0 <%if(notification.breet.rebreeter || notification.breet.parent){%>pt-0<%}%>">
                  <% if(notification.breet.rebreeter) {%>
                  <h6 class="text-muted fw-light mb-0 my-md-1"> <small><i class="bi bi-arrow-repeat"></i> Rebreeted By <a href="/users/<%=notification.breet.username%>" class="link-unstyled">@<%=notification.breet.username%></small></a></h6>
                  <% } else if(notification.breet.parent) {%>
                    <h6 class="text-muted fw-light mb-0 my-md-1"> <small><i class="bi bi-chat"></i> In reply to <a href="/breeta/<%=notification.breet.parent._id%>" class="link-unstyled">@<%=sessionUser.username%></small></a></h6>
                    <% } %>
                  <div class="card-title h5 mb-3 fw-bold"><%=notification.breet.dName%> <a href="/users/<%=notification.breet.username%>" class="link-unstyled">
                    <span class="h6 text-muted ms-1">@<%=notification.breet.username%></span></a>
                  </div>
                  <a href="/breeta/<%=notification.breet._id%>"class="link-unstyled"><p class="card-text h6 border shadow-sm rounded-3 py-4 px-3 mb-md-3"><small><%=notification.breet.content%></small></p></a>
                  <p class="card-text my-2">
                      <a href="/breeta/<%=notification.breet._id%>/like" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1"><i class="bi bi-heart"></i> <%=notification.breet.likes%> </span></a>
                      <a href="/breeta/<%=notification.breet._id%>/reply" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1 mx-1"><i class="bi bi-chat"></i> <%=notification.breet.replies%> </span></a>
                      <a href="/breeta/<%=notification.breet._id%>/rebreet" class="link-unstyled"><span class="md-h5 border border-2 rounded-pill p-md-2 shadow-sm px-2 py-md-1"><i class="bi bi-arrow-repeat"></i> <%=notification.breet.rebreets%> </span></a>
                    <p class="mb-0 mb-md-1 ms-1"><small class="text-muted align-text-top"><i class="bi bi-calendar-event"></i> Posted <%=functions.timeCall(notification.breet.time)%></small></p>
                </div>
              </div>
            </div>
          </div>
          </div>
    <% } %>
    <% } %>  

<%-include("../partials/footer")%>
