</div><%-include("../partials/header")%>
    <div class="card my-3" style="max-width: 800px">
      <div class="row">
        <div class="col-3 col-sm-2 ms-2 mt-4">
          <img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,w_200,g_face/<%=user.pfp.url.slice(47)%>" class="img-fluid img-thumbnail rounded-circle" alt="...">
        </div>
        <div class="col">
          <div class="card-body pb-0">
            <div class="card-title h5 mb-0"><%=user.dName%> 
              <span class="h6 text-muted">@<%=user.username%></span><form action="/users/<%=user.username%>" method="post" style=" display:inline!important;"><button id="followButton"><i class="bi bi-person-<%if(sessionUser.following.includes(user.username)){%>fill-slash<%}else if(sessionUser.username !== user.username){%>heart<%}%> h6"></i></button></form>
            </div>
            <div class="card-title">Bio:</div>
              <p class="card-text border mb-0 py-5 px-3"><%=user.bio%></p>
              <p class="mb-3"><small class="text-muted align-text-top"><i class="bi bi-calendar-event"></i> Created <%=functions.timeCall(user.creationDate)%></small></p>
             
              <div class="mb-3">
                <span class="md-h5 border border-2 rounded-pill py-md-2 px-md-2 px-1"><i class="bi bi-person-hearts"></i> Followers: <%=user.followers.length%></span>
                <span class="md-h5 border border-2 rounded-pill py-md-2 px-md-2 px-1"><i class="bi bi-person-heart"></i> Following: <%=user.following.length%></span>
                <span class="md-h5 border border-2 rounded-pill py-md-2 px-md-2 ms-md-0 me-md-0 px-1 me-3 ms-1"><i class="bi bi-heart"></i> Likes: <%=user.likes%>0</span>
                <span class="md-h5 border border-2 rounded-pill py-md-2 px-md-2 ms-md-0 px-1"><i class="bi bi-brush"></i> Rebreets: <%=user.breets%>0</span>
              </div>
          </div>
        </div>
      </div>
    </div>

<div class="row my-6 py-6">
  <div class="col-9">

<h5 class="text-center">Breeta Feeda</h5>


</div>
      <% for(let breet of breets){ %>
        <div class="card my-3" style="max-width: 600px;">
          <div class="row">
            <div class="col-3 col-sm-2 ms-2 mt-4">
              <img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,w_200,g_face/<%=breet.pfp.slice(47)%>" class="img-fluid img-thumbnail rounded-circle" alt="...">
            </div>
            <div class="col">
              <div class="card-body pb-0 <%if(breet.rebreeter || breet.parent){%>pt-0<%}%>">
                <% if(breet.rebreeter) {%>
                <h6 class="text-muted fw-light align-top"> <i class="bi bi-arrow-repeat"></i> Rebreeted By <a href="/users/<%=breet.username%>" class="link-unstyled">@<%=breet.username%></a></h6>
                <% } else if(breet.parent) {%>
                  <h6 class="text-muted fw-light align-top"> <i class="bi bi-chat"></i> In reply to <a href="/breeta/<%=breet.parent._id%>" class="link-unstyled">@<%=breet.parent.username%></a></h6>
                  <% } %>
                <div class="card-title h5 mb-4"><%=breet.dName%> <a href="/users/<%=breet.username%>" class="link-unstyled">
                  <span class="h6 text-muted">@<%=breet.username%></span></a><form action="/users/<%=breet.username%>" method="post" style=" display:inline!important;"><button id="followButton"><i class="bi bi-person-<%if(sessionUser.following.includes(breet.username)){%>fill-slash<%}else if(sessionUser.username !== breet.username){%>heart<%}%> h6"></i></button></form>
                </div>
                <a href="/breeta/<%=breet._id%>"class="link-unstyled"><p class="card-text border rounded-3 py-4 px-3"><%=breet.content%></p></a>
                <% if(breet.image) {%>
                <div><img src="<%=breet.image.url %>" class="ml-0" alt="<%=breet.image.filename%>" style="max-height: 200px; object-fit:contain;"></div>
                <%} %>
                <p class="card-text mb-0 mt-4">
                    <a href="/breeta/<%=breet._id%>/like" class="link-unstyled"><button class="btn ps-0 pb-2"><i class="bi bi-heart"></i></button>0</a>
                    <a href="/breeta/<%=breet._id%>/reply" class="link-unstyled"><button class="btn pb-2"><i class="bi bi-chat"></i></button>0</a>
                    <a href="/breeta/<%=breet._id%>/rebreet" class="link-unstyled"><button class="btn pb-2"><i class="bi bi-arrow-repeat"></i></button>0</a>
                  <p class="mb-0"><small class="text-muted align-text-top"> Posted <%=functions.timeCall(breet.time)%></small></p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
    </div><%-include("../partials/footer")%>